<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <script src="static/js/cart.js" type="module" defer></script>
    <link rel="stylesheet" type="text/css" href="static/css/cart.css">
    <link rel="stylesheet" type="text/css" href="static/css/global.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<p class="breadcrumb"><a href="/">Back to main page</a></p>
<h1>Cart</h1>
<div id="cart">

</div>
<a class="btn btn-primary checkout-payment" href="/checkout">Go To Payment</a>

</body>
</html>