<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/checkout/payment/creditcard" method="post">
    <div class="card-num-container">
        <label for="card-num-1">Card number</label>
        <input class="card-number" type="text" name="card-num-1" id="card-num-1" size="5">
        <sp>-</sp>
        <input class="card-number" type="text" name="card-num-2" size="5">
        <sp>-</sp>
        <input class="card-number" type="text" name="card-num-3" size="5">
        <sp>-</sp>
        <input class="card-number" type="text" name="card-num-4" size="5">
    </div>

    <div class="exp-date-container">
        <label for="expiration-date">Exp. date</label>
        <input class="expiration-date" type="text" name="expiration-date-1" id="expiration-date" size="2">
        <sp>/</sp>
        <input class="expiration-date" type="text" name="expiration-date-2" size="2">
    </div>

    <div class="card-holder-name-container">
        <label for="card-holder">Name on card</label>
        <input class="card-holder" type="text" name="card-holder" id="card-holder">
    </div>

    <div class="cvv-code-container">
        <label for="cvv-code">CVV</label>
        <input class="cvv-code" type="password" name="cvv-code" id="cvv-code">
    </div>
    <button type="submit">PaY!4!</button>
</form>

</body>
</html>