<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay PayPal</title>
</head>
<body>
    <form action="/checkout/payment/paypal" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">PaY!4!</button>
    </form>

</body>
</html>