html {
    background: url(/static/img/BC.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-container {
    width: 600px;
    margin-inline: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 8px 8px 20px gray;
    background-color: white;
}

input, select, button {
    border: solid 2px gray;
    border-radius: 5px;
    margin: 10px;
}

