body {
    background-color: #f5f5f5 !important;
}

h1 {
    text-align: center;
}

#cart {
    margin: 5% 10% 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
}

.cart-item {
    border-bottom: 1px solid gray;
    padding: 100px;
    justify-content: center;
}

.cart-item-remove {
    color: blue;
}

.cart-item-remove:hover {
    cursor: pointer;
}

.cart-item img {
    align-self: center;
    max-height: 100px;
}

td, th {
    padding: 20px;
}

#total-price {
    align-self: end;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

.checkout-payment {
    float: right;
    margin-right: 10%;
}